
#tinggi {
    height: auto;
}


.jarak {
    height: 30px;
}

#logo {
    padding-top: 6px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.parallax-container {
    height: 500px;
}


.slider {
	padding-top: 0px !important;
}

#listtabel {

    padding: 35px;
}
